
body{
    // color: white;
    // position: relative;
    // .container{
    //     max-width: 1440px;
    //     margin: 0px auto;
    //     position: relative;
    //     top: 120px;
    //     display: -webkit-box;
    //     display: -ms-flexbox;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     .left{
    //         max-width: 50%;
    //         h2{
    //             letter-spacing:3px;
    //             span{
    //                 color: grey;
    //             }
    //         }
    //         p{
    //             line-height: 200%;
    //             .work{
    //                 display: block;
    //                 font-size: 30px;
    //                 padding: 30px 0px;
    //             }
    //             .crew-name{
    //                 display: block;
    //                 font-size:50px;
    //                 padding: 10px 0px 30px;
                    
    //             }
    //         }
    //     }
    //     .right{
    //         position: relative;
    //         img{
    //             width: 300px;
    //         }
    //     }
    // }
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    overflow: hidden;
    .container{
        width: 80%;
        max-width: 1440px;
        display: block;
        margin: 0px auto;
        h2{
            letter-spacing: 3px;
            span{
                color: grey;
                opacity: 0.7;
            }
        }
        .combined{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 50px;
            .right{
                width: 50%;
                position: relative;
                img{
                    position: relative;
                    right: 0px;
                    width: 140%;
                }
            }
            .left{
                padding-top: 40px;
                line-height: 150%;
                .grey-text{
                    color: grey;
                    display: block;
                    font-size: 30px;
                    padding: 40px 0px;
                }
                .crew-name{
                    display: block;
                    font-size: 50px;
                    padding:30px 0px 40px;
                }
                p{
                    line-height: 200%;
                }
            }
        }
    }
}