
body{
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    overflow: hidden;
    .container{
        width: 80%;
        max-width: 1440px;
        display: block;
        margin: 0px auto;
        h2{
            letter-spacing: 3px;
            span{
                color: grey;
                opacity: 0.7;
            }
        }
        .combined{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 0px;
            .right{
                width: 50%;
                position: relative;
                img{
                    position: absolute;
                    top: 0px;
                    left: 100%;
                    width: 140%;
                }
            }
            .left{
                padding-top: 80px;
                line-height: 150%;
                .grey-text{
                    color: grey;
                    display: block;
                    font-size: 30px;
                    padding: 40px 0px;
                }
                .crew-name{
                    display: block;
                    font-size: 50px;
                    padding:10px 0px 40px;
                }
                p{
                    line-height: 200%;
                }
                .swicher{
                    display: flex;
                    justify-content: space-around;
                    width: 100px;
                    span{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: grey;
                        color: grey;
                        cursor: pointer;
                        &[active = "true"]{
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}